# Robot stats for robots signed up to BITB3

Last years fights: [https://rampagebots.co.uk/member/events/tournament/55](https://rampagebots.co.uk/member/events/tournament/55)

[[_TOC_]]

{% for robot, battle_stat in data.items() %}
# {{robot}}

{{battle_stat.robot_details.weapon}} by {{battle_stat.robot_details.roboteer}}

Win/Loss record: `{{ battle_stat.wins|length }}` / `{{ battle_stat.losses|length }}`

## Wins
{%- if battle_stat.wins|length > 0 %}
{% for battle in battle_stat.wins %}
* `{{battle.loser}}` at `{{battle.event}}`
{%- endfor %}

```mermaid
%%{init: {'theme':'default'}}%%
pie showData title Wins against weapon type
{%- for weapon_type, number_of_wins in battle_stat.weapon_wins.items() %}
    "{{weapon_type}}" : {{number_of_wins}}
{%- endfor %}
```

{% else %}
No recorded wins
{% endif%}

## Losses
{%- if battle_stat.losses|length > 0 %}
{% for battle in battle_stat.losses %}
* `{{battle.winner}}` at `{{battle.event}}`
{%- endfor %}

```mermaid
%%{init: {'theme':'default'}}%%
pie showData title Losses to weapon type
{%- for weapon_type, number_of_losses in battle_stat.weapon_losses.items() %}
    "{{weapon_type}}" : {{number_of_losses}}
{%- endfor %}
```

{% else %}
No recorded losses
{% endif%}
{% endfor %}